@page "/equipos"
@inject IEquiposRepositorio _equiposRepositorio
@inject Notificacion Notificacion

@if (Cargando)
{
    <div class="poition-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/Images/Carga.gif" alt="Cargando contenido..." />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Lista de Equipos</h2>
                </div>
            </div>
        </div>

        <div class="card-body py-4">
            <div class="row pb-3">
                <div class="col text-end">
                    <a href="equipos/agregar" class="btn btn-secondary" style="width:250px;">
                        <i class="bi bi-plus-circle"></i> Agregar nuevo equipo
                    </a>
                </div>
            </div>

            @if (equipos.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Modelo</th>
                            <th>Fecha de instalación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in equipos)
                        {
                            <tr>
                                <td>@item.IdEquipos</td>
                                <td>@item.NombreEquipos</td>
                                <td>@item.Modelo</td>
                                <td>@item.FechaInst.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a href="@($"equipos/modificar/{item.IdEquipos}")" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Modificar
                                    </a>
                                    <a href="@($"equipos/eliminar/{item.IdEquipos}")" class="btn btn-danger">
                                        <i class="bi bi-trash"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">No hay equipos disponibles</p>
            }
        </div>
    </div>
}

@code {
    private bool Cargando { get; set; } = false;
    private IEnumerable<Equipos> equipos { get; set; } = new List<Equipos>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Cargando = true;
            await CargandoEquipos();
            Cargando = false;
            StateHasChanged();
        }
    }

    public async Task CargandoEquipos()
    {
        equipos = await _equiposRepositorio.GetAll();
    }
}
